$primary_color: #1565c0;
$secondary_color: #00838f;
$primary_dark: #004ba0;
$secondary_light: #4fb3bf;
$primary_light: #63a4ff;
$text-color: #ffffff;
$bg-section: #fafafa;
$dark-grey: #1C2833;
$red: #DB5461;