.masterhead {
    position: relative;
    @media (min-width: 360px) and (max-width: 1024px) {
      height: 200px;
      margin-bottom: 1rem;
    }
    margin-bottom: 2rem;
    &:hover::after {
      position: absolute;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.1);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: "";
      transition: background 0.2s;
    }  
    img {
      width: 100%;
      height: 100%;
    }  
    .header-title {
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: 1rem 2rem;
      @media (min-width: 360px) and (max-width: 1024px) {
        padding: 0.3rem 0.3rem;
      }
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.5);
    }  
    .header-tag {
      position: absolute;
      top: 2rem;
      padding: 0.8rem 0.8rem;
      border: 0px solid #000000;
      border-radius: 0px 0px 20px 0px;
      font-size: 0.8rem;
      @media (min-width: 360px) and (max-width: 1024px) {
        padding: 0.3rem 0.5rem;
        font-size: 0.8rem;
      }
      background-color: $DARK;
      z-index: 10;
      &:hover {
        background: $LIGHT_DARK;
        transition: 0.2s background;
      }
      .tag {
        color: $red;
      }
    }
  }
  

  .border-shadow{
    box-shadow: 12px 10px 0px 0px rgba(249,29,28,1);
  }

  .border-shadow2{
    box-shadow: -12px -10px 0px 0px rgba(27,13,13,1);


  }

