.sidebar {
    height: 430px;
    @media (min-width: 360px) and (max-width: 1024px) {
      height: 320px;
      
    }
    width: 100%;
    background-color: $DARK;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.75);
    color: #FFF;
    .sidebar-title {
        text-align: left;        
        padding: 1rem 0 0 2rem;
        text-transform: capitalize;
        h1{
          font-weight: 300;
        }
      
    }
    ul {
      padding: 2rem 1rem;
      text-align: left;
      li {
        margin: 0 0 1rem;
        padding: 0 0 0 1rem;
        font-size: 1rem;
        font-style: italic;
      }
    }
  }