@import "reset";
@import "node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import "color";
@import "footer";
@import "header";

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  transition: 0.3s;
}


.masterhead{
  margin-top: 25rem;
  background: url(../assets/images/bg-materhead.jpg);
}

section{
  min-height: 100vh;
  padding: 2rem 2rem;
}