@import "reset";
@import "node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&display=swap");
@import "color";
@import "footer";
@import "header";

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  transition: 0.3s;
}


.masterhead{ 
  background: url(../assets/images/bg-materhead.jpg) center top;
  height: 450px;
}

section{
  position: relative;
  min-height: 100vh;
  padding: 6rem 2rem;
}